appdirs==1.4.4
capstone==4.0.2
cffi==1.15.1
cmsis-pack-manager==0.5.2
colorama==0.4.6
importlib-metadata==6.8.0
importlib-resources==6.0.1
intelhex==2.3.0
intervaltree==3.1.0
lark==1.1.7
libusb-package==1.0.26.2
natsort==8.4.0
numpy==1.26.2
prettytable==3.8.0
psutil==5.9.5
pycparser==2.21
pyelftools==0.29
pylink-square==1.2.0
pyocd==0.35.1
pyusb==1.2.1
PyYAML==6.0.1
six==1.16.0
sortedcontainers==2.4.0
typing_extensions==4.7.1
wcwidth==0.2.6
zipp==3.16.2
