.programmer .card-header {
    background-color: #094067;
}

.programmer h4 {
    color: white;
}

.programmer h5 {
    color: #094067;
}

.container {
    background-color: white;
}

.card span {
    margin-left: 0;
}

.programmer button {
    font-size: 10px;
}

.action-buttons {
    padding: 5px 12px;
}

.btn-record {
    padding-top: 5px;
}

.online {
    color: green;
}

.offline {
    color: red;
}

.disabled {
    color: gray;
}