.card span {
    margin-left: 0;
}

.programmer button {
    font-size: 10px;
}

.action-buttons {
    padding: 5px 12px;
}

.btn-record {
    padding-top: 5px;
}

.online {
    color: green;
}

.offline {
    color: red;
}

.disabled {
    color: gray;
}