.cpuvar .card-text {
    font-size: 0.8rem;
    text-align: start;
}

/* select p elements inside div of .cpuvar and put margin-bottom 0.3rem */
.cpuvar p {
    margin-bottom: 0.3rem;
}

.cpuvar label{
    font-size: 0.8rem;
}

.cpuvar select{
    border-radius: 3px;
    border-color: var(--azul);
    background-color: white;
    font-size: 0.8rem;
}

.cpuvar input{
    border-radius: 3px;
    border-color: var(--azul);
    border-width: 1px;
    background-color: white;
    font-size: 0.8rem;
    text-align: right;
}

#date{
    font-size: 0.7rem;
}

.cpuvar input[type="datetime-local"]:disabled {
    background: #dddddd;
}

.cpuvar input.red[type=checkbox]:checked:before {
    background-color: red;
  }