* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif !important;
}

body {
  font-size: 16px;
}

.App {
  width: 100vw;
  height: 100vh;
  background-color: #E6E6E6;
}

.content {
  margin-left: 220px;
  /* Adjust based on the width of your sidebar */
  width: calc(100vw - 220px);
  height: 100vh;
  background-color: #E6E6E6;
  position: sticky;
  top: 0;
}

.card-header {
  background-color: #094067;
}

h4 {
  color: white !important;
}

h5 {
  color: #094067 !important;
}

.option {
  color: white !important;
  background-color: #9fbace;
}

.selected {
  background-color: #094067;
  border-radius: 3px;
}

.appName{
  color: #285ca4;
  font-size: 90px;
  font-weight: bold;
}