* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif !important;
}

:root {
  --azul: #004a96;
}

body {
  font-size: 16px;
}

.App {
  width: 100vw;
  height: 100vh;
  background-color: #E6E6E6;
}

.content {
  margin-left: 220px;
  /* Adjust based on the width of your sidebar */
  width: calc(100vw - 220px);
  height: 100vh;
  background-color: #E6E6E6;
  position: sticky;
  top: 0;
}

.card-header {
  background-color: var(--azul);
}

h4 {
  color: white !important;
}

h6.card-header {
  color: white !important;
}

h6.card-title {
  color: var(--azul) !important;
}

h5 {
  color: var(--azul) !important;
}

.option {
  color: white !important;
  background-color: #9fbace;
  border-radius: 3px;
}

.selected {
  background-color: var(--azul);
}

.appName {
  color: #285ca4;
  font-size: 90px;
  font-weight: bold;
}

hr {
  margin: 0.5rem 0;
}

.Toastify__toast-body {
  white-space: pre-line;
}